@model ClinicaProyect_DPWA.Models.EstadoReservacion

@{
    ViewBag.Title = "Borrar estado de cita";
}

<h2>Borrar estado de cita</h2>

<h3>Esta seguro de eliminar este estado de cita?</h3>
<div>
    <h4>Estado de cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoDeCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDeCita)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Cancelar", "Index", null, htmlAttributes: new { @class="btn btn-default" })
        </div>
    }
</div>
