@model ClinicaProyect_DPWA.Models.EstadoReservacion

@{
    ViewBag.Title = "Detalles de estado de cita";
}

<h2>Detalles del estado de cita</h2>

<div>
    <h4>Estado de cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoDeCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDeCita)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Id_EstadoReservacion }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-success" }) 
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
