@{
    ViewBag.Title = "Clínica Belén";
}
<link href="~/Content/paralax.css" rel="stylesheet" />
<!--
<div class="jumbotron" style="background-image: url(https://thumbs.dreamstime.com/b/contexto-de-la-cl%C3%ADnica-m%C3%A9dica-87324356.jpg); background-size:100%; ">
    <div class="container for-about">
        <h1>Clínica Belén</h1>
        <p class="lead">
            Ofrecer
            un mayor alcance a los clientes el sistema
            de citas en la web médica permiten a los
            pacientes pedir cita a través de internet
            sin necesidad de acudir o llamar al
            consultorio de esa
            manera ahorrando los gastos de traslado
            hacia el local. Esto optimiza el tiempo de
            trabajo del personal del consultorio
            médico, ya que el paciente puede ver la
            disponibilidad de citas en tiempo real,
            esto para la primer parte del proyecto.
        </p>
    </div>
</div>

<div class=" p-3 mb-2 bg-primary text-white text-center text-uppercase">De nuestra tecnología e instalaciones</div>
<br />
<div class="row">
    <div class="col-lg-3 col-md-3">

    </div>
    <div class="col-lg-6 col-md-6">
        <div class="card" style="width: 57rem;">
            <img class="card-img-top" src="~/img/cardNuestraTecnologia.jpg" alt="De nuestra tecnología e instalaciones">
            <div class="card-body text-center">

                <p class="card-text">
                    Clínica Belén es un moderno centro asistencial que desde su fundación, hace más de 30 años, ofrece la más alta calidad en asistencia sanitaria, basada en tres pilares fundamentales:
                    <ul>
                        <li> Un equipo profesional con especialistas altamente cualificados.</li>
                        <li>Un equipamiento técnico moderno y eficaz.</li>
                        <li>Una gestión orientada el paciente como centro y eje de todas nuestra actividad.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">

    </div>
</div>

<div class=" p-3 mb-2 bg-primary text-white text-center text-uppercase">De nuestros profesionales</div>
<br />
<div class="row">
    <div class="col-lg-3 col-md-3">

    </div>
    <div class="col-lg-6 col-md-6">
        <div class="card" style="width: 58rem;">
            <img class="card-img-top" src="~/img/cardNuestrosProfesionales.jpg" alt="De nuestra tecnología e instalaciones">
            <div class="card-body text-center">

                <p class="card-text">
                    En Clínica Belén contamos con un equipo de casi 300 profesionales y más de 100 consultores externos áltamente cualificados. La rapidez en la atención, el trato personal y la confianza que se transmite a cada paciente, son nuestras principales señas de identidad.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">

    </div>
</div>

<div class=" p-3 mb-2 bg-primary text-white text-center text-uppercase">De nuestros servicios clínicos</div>
<br />
<div class="row">
    <div class="col-lg-3 col-md-3">

    </div>
    <div class="col-lg-6 col-md-6">
        <div class="card" style="width: 58rem;">
            <img class="card-img-top" src="~/img/cadUltima.jpg" alt="De nuestra tecnología e instalaciones">
            <div class="card-body text-center">

                <p class="card-text">
                    En Clínica Belén trabajan más de 300 especialistas, entre médicos propios y consultores externos, para todos ellos el paciente es el centro. Cualificación profesional, calidad humana y gestión orientada al paciente, convierten a éste en el eje y centro de una elevada calidad asistencial.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">

    </div>
</div>
    -->

<div class="section-one p-225" style="background-image: url(https://thumbs.dreamstime.com/b/contexto-de-la-cl%C3%ADnica-m%C3%A9dica-87324356.jpg); background-size: 100%; ">
    <h1 class="text-center">Clínica Belén</h1>
</div>

<div class="section-two p-125">
    <h1 class="text-center">Que ofrecemos?</h1>
    <p class="text-center">
        Ofrecer un mayor alcance a los clientes el sistema de citas en la web médica permitiendo a los pacientes 
        pedir cita a través de internet sin necesidad de acudir o llamar al consultorio de esa manera ahorrando los 
        gastos de traslado hacia el local. Esto optimiza el tiempo de trabajo del personal del consultorio médico, 
        ya que el paciente puede ver la disponibilidad de citas en tiempo real, esto para la primer parte del proyecto.
    </p>
</div>

<div class="section-one p-225" style="background-image: url(../img/cardNuestraTecnologia.jpg); background-size: 100%; ">
    <h1 class="text-uppercase">nuestra tecnología e instalaciones</h1>
</div>

<div class="section-two p-125">
    <h1 class="text-center">Instalaciones</h1>
    <p class="text-center">
        Clínica Belén es un moderno centro asistencial que desde su fundación, hace más de 30 años, ofrece la más alta
        calidad en asistencia sanitaria, basada en tres pilares fundamentales:
    </p>
    <p class="text-center">Un equipo profesional con especialistas altamente cualificados.</p>
    <p class="text-center">Un equipamiento técnico moderno y eficaz.</p>
    <p class="text-center">Una gestión orientada el paciente como centro y eje de todas nuestra actividad.</p>
</div>

<div class="section-one p-225" style="background-image: url(../img/cardNuestrosProfesionales.jpg); background-size: 100%; ">
    <h1 class="text-center">Nuestros profesionales</h1>
</div>

<div class="section-two p-125">
    <h1 class="text-center">Equipo</h1>
    <p class="text-center">
        En Clínica Belén contamos con un equipo de casi 300 profesionales y más de 100 consultores externos
        áltamente cualificados. La rapidez en la atención, el trato personal y la confianza que se transmite
        a cada paciente, son nuestras principales señas de identidad.
    </p>
</div>

<div class="section-one p-225" style="background-image: url(../img/cadUltima.jpg); background-size: 100%; ">
    <h1 class="text-center">Nuestros servicios clínicos</h1>
</div>

<div class="section-two p-125">
    <h1 class="text-center">Servicios</h1>
    <p class="text-center">
        En Clínica Belén trabajan más de 20 especialistas, entre médicos propios y consultores externos,
        para todos ellos el paciente es el centro. Cualificación profesional, calidad humana y gestión
        orientada al paciente, convierten a éste en el eje y centro de una elevada calidad asistencial.
    </p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Scripts/paralax.js"></script>
<script>
    $('.section-one').parallaxie({
        speed: 0.4
    });
</script>
