@model ClinicaProyect_DPWA.Models.CategoriaMedico

@{
    ViewBag.Title = "Detalles de categorías";
}

<h2>Detalles de categoría</h2>

<div>
    <h4>Categoría</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Id_Categoria }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-success" })
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
