@model ClinicaProyect_DPWA.Models.EstadoPago

@{
    ViewBag.Title = "Borrar estado de pago";
}

<h2>Eliminar estado de pago</h2>

<h3>Esta seguro de borrar este estado de pago?</h3>
<div>
    <h4>Estado de pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDePago)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Cancelar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
