@model ClinicaProyect_DPWA.Models.EstadoPago

@{
    ViewBag.Title = "Detalles de estado de pago";
}

<h2>Detalles del estado de pago</h2>

<div>
    <h4>Estado de pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDePago)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Id_TipoDePago }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-success" })
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-default"})
</p>
