@model ClinicaProyect_DPWA.Models.EstadoPago

@{
    ViewBag.Title = "Detalles de estado de pago";
}

<div class="panel panel-primary" style="margin-top:3%">
    <div class="panel-heading">Detalle de pago</div>
    <div class="panel-body">
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.EstadoDePago)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.EstadoDePago, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Id_TipoDePago }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-success" })
    @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-default"})
</p>
